// Imports
@use "category.scss";
@use "header.scss";
@use "nav.scss";
@use "details.scss";
@use "../styles/SearchScss/searchBar.scss";
@use "../styles/SearchScss/searchCard.scss";
@use "../styles/series-details.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kufam:ital,wght@0,400..900;1,400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital@0;1&display=swap");

// Global Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Mulish", serif;
}

main {
  max-height: calc(100dvh - 60px);
  overflow-y: auto;
  background-color: transparent !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Theme Variables
$light-background: white;
$light-color: black;
$light-primary: #110e47;

$dark-background: #121212;
$dark-color: white;
$dark-primary: #736ddf;

// Light Theme Styles
body.light {
  background-color: $light-background;
  color: $light-color;

  .search-bar {
    background-color: $light-background;
    color: $light-color;
    border: 0.5px solid rgba(1, 1, 1, 0.05);
  }

  h1,
  h2,
  h3,
  h4 {
    color: $light-primary;
  }

  .movie-details {
    background-color: $light-background;
    color: $light-color;
  }

  .primary {
    color: $light-primary !important;
  }

  .header__menu-button {
    color: $light-primary;
  }

  .series-details {
    background-color: $light-background;
    color: $light-color;
  }

  nav {
    background-color: $light-background;
    color: $light-color;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

    .nav-list {
      background-color: transparent !important;

      .nav-item {
        .nav-link {
          color: #bcbccd;

          .nav-icon {
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}

// Dark Theme Styles
body.dark {
  background-color: $dark-background;
  color: $dark-color;

  .search-bar {
    background-color: $dark-background;
    color: $dark-color;
    border: 0.5px solid rgba(255, 255, 255, 0.05);

    .search-bar__input {
      border-color: #ccc;
      color: $dark-color;
      background-color: $dark-background;
    }
  }
  .series-details {
    background-color: $dark-background;
    color: $dark-color;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $dark-color;
  }

  .movie-details {
    background-color: $dark-background;
    color: $dark-color;
  }

  .primary {
    color: $dark-primary !important;
  }

  .header__back-button,
  .header__menu-button {
    color: $dark-color;
  }
  nav {
    background-color: $dark-background;
    color: $dark-color;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

    .nav-list {
      background-color: transparent !important;

      .nav-item {
        .nav-link {
          color: #bcbccd;

          .nav-icon {
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
